@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lobster|Yanone+Kaffeesatz');
*{
    font-family: Bree Serif,serif;
    margin: 0px;
    
}
body{
    background-image: linear-gradient(to right,green,greenyellow);
}
#back{
     width:100%;
    background-image: url(bckgrd3.jpg);
    font-size: 150%;
    padding-left: 35%;
    text-decoration: underline;
}

p{ 
    padding-left: 10px;
    font-size: 20px;
}
#pic1{
     width: 100%;
    height: 300px;
    float: left;
    margin-right: 5px;
    border: solid brown;
}
#pic1:hover{
	transform:translateY(-5px);
    box-shadow:0px 5px 10px rgba(0,0,0,1);
}
#pic2{
    width: 400px;
    height: 350px;
    float: right;
    margin-right: 5px;
    border: solid brown;
} 
#pic2:hover{
	transform:translateY(-5px);
    box-shadow:0px 5px 10px rgba(0,0,0,1);
}
h2{
    
    text-decoration: underline;
    margin-left: 10px;
    
}
h3{
    text-decoration: underline;
    margin-left: 10px;
}
#back2{
    background-color: sandybrown;
    display: block;
    width: 550px;
    height: 165px;
    float: left;
    margin-left: 100px;
    border: solid brown;
}
#back2:hover{
    transform:translateY(-5px);
    box-shadow:0px 5px 10px rgba(0,0,0,1);
}
#fact{
    font-style: italic;
    color: saddlebrown;
    text-align: center;
}
#fact2{
   font-style: italic;
    
}
#pic3{
    width: 100%;
    height: 500px;
    float: left;
    
}
#pic3:hover{
	transform:translateY(-5px);
    box-shadow:0px 5px 10px rgba(0,0,0,1);
}
video{
    float: right;
    border: solid brown;
    height: 40%;
    width: 40%;
    
}
footer{
        
    margin-left: 550px;
}
footer button{
    width: 120px;
    height: 50px;
    border: none;
    background-image: url(bckgrd3.jpg);
    font-size: 17px;
    color: greenyellow;
    text-decoration: none;
}

footer button:hover{
     transform: scale(1.1);
     box-shadow:0px 5px 10px rgba(0,0,0,1);
}